[Unit]
Description=My test service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/root/telegram-whatchdog/venv/bin/python3 /root/telegram-whatchdog/watchdog.py
[Install]
WantedBy=multi-user.target